{extend name="Base_template/index_base" /}

{block name="head_css"}
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="__STATIC_ADMIN__/css/x-admin.css" media="all" />

{/block}

{block name="main"}
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>会员列表</cite></a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
  <form class="layui-form x-center" action="" style="width:800px">
    <div class="layui-form-pane" style="margin-top: 15px;">
      <div class="layui-form-item" id="LAY_demorange">
        <label class="layui-form-label">日期范围</label>
        <div class="layui-input-inline">
          <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
        </div>
        <div class="layui-input-inline">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:80px">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
    </div>
  </form>

  <table class="layui-table" id="member_table" lay-filter="member_table">
  </table>

</div>
<script type="text/html" id="userToolbar">
  <button class="layui-btn layui-btn-danger" lay-event="delSel">
    <i class="layui-icon">&#xe640;</i>
    批量删除
  </button>
  <button class="layui-btn"  lay-event="add">
    <i class="layui-icon">&#xe608;</i>
    添加
  </button>
</script>

<script type="text/html" id="Hstatus">
  <span class="layui-btn {{ d.user_status == 0 ? 'layui-btn-danger' : 'layui-btn-normal' }} " > {{ d.user_status == 0 ? '已禁用' : '已启用' }}  </span>
</script>
<script type="text/html" id="operation">
  <a style="text-decoration:none" lay-event="stop" href="javascript:;" title="停用">
    <i class="layui-icon">&#xe601;</i>
  </a>
  <a title="编辑" href="javascript:;" lay-event="edit" class="ml-5" style="text-decoration:none">
    <i class="layui-icon">&#xe642;</i>
  </a>

  <a title="删除" href="javascript:;" lay-event="del"   style="text-decoration:none">
    <i class="layui-icon">&#xe640;</i>
  </a>
</script>
{/block}

{block name="body_js"}


<script src="__STATIC_ADMIN__/js/x-layui.js" charset="utf-8"></script>
<script>
  layui.use(['laydate','element','laypage','layer','table','form'], function(){
    $ = layui.jquery;//jquery
    laydate = layui.laydate;//日期插件
    lement = layui.element//面包导航
    laypage = layui.laypage;//分页
    layer = layui.layer;//弹出层
    table = layui.table;
    form = layui.form;

    //以上模块根据需要引入

    laydate.render({
      elem: '#LAY_demorange'
      //设置开始日期、日期日期的 input 选择器
      //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
      ,range: ['#LAY_demorange_s', '#LAY_demorange_e']
    });

    table.render({
      elem: '#member_table',
      url: '{$url_con}/table_data',
      toolbar: '#userToolbar',
      parseData: function(res) { //res 即为原始返回的数据
        console.log(res);
      },cellMinWidth: 80,
      cols: [[
        {type: 'checkbox', fixed: 'left'},
        {field:'id', title:'ID',unresize:true},
        {field:'nickname', title:'昵称',edit: 'text'},
        {field:'username', title:'用户名'},
        {field:'auth', title:'权限'},
        {field:'salt', title:'密码盐'},
        {field:'login_number', title:'登录次数'},
        {field:'login_date', title:'登录时间'},
        {field:'login_ip', title:'登录IP'},
        {field:'create_date', title:'创建时间'},
        {field:'create_ip', title:'创建IP'},
        {field:'user_status', title:'用户状态',templet: '#Hstatus'},
        {field:'right', title:'操作',toolbar: '#operation'},
      ]],
      page: true,
      limit:10
    });


    // 监听行工具事件
    table.on('tool(member_table)', function(obj){
      var data = obj.data;

      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){
          obj.del();
          layer.close(index);
          $.ajax({
            type:"post",
            url:"{$url_con}/del",
            data:data,
            dataType:"json",
            success:function (data) {
              if(data.code==200){
                layer.msg(data.msg,{icon:1,time:1000});
              }else{
                layer.msg(data.msg,{icon:5,time:2000});
              }
            },
          });
        });
      }
      else if(obj.event === 'edit'){
        x_admin_show("编辑",`{$url_con}/add_edit?id=${data['id']}.html`,'500','400');
      }
      else if(obj.event === 'stop'){

        if(data['user_status'] == 0){
          data['user_status'] = 1;
        }else if(data['user_status'] == 1){
          data['user_status'] = 0;
        }

        $.ajax({
          type:"post",
          url:"{$url_con}/stop",
          data:data,
          dataType:"json",
          success:function (res_data) {
            if(res_data.code==200){
              layer.msg(res_data.msg,{icon:1,time:1000});
              location.replace(location.href);
            }else{
              layer.msg(res_data.msg,{icon:5,time:2000});
            }
          },
        });
      }
    });

    //监听头部事件
    table.on('toolbar(member_table)', function(obj){
      switch(obj.event){
        case 'add':
          x_admin_show("添加",`{$url_con}/add_edit?id=0`,'500','400');
          break;
        case 'delSel':
          delSel()
          break;

      };
    });

  });
  //批量删除提交
  function delSel () {
    layer.confirm('确认要删除吗？',{icon:3,title:'提示信息'},function(index){
      //捉到所有被选中的，发异步进行删除
      data = table.checkStatus('article_table').data;

      ids = []
      for(i = 0;i < data.length;i++){
        ids.push(data[i]['id']);
      }

      $.ajax({
        type:"post",
        url:"{$url_con}/del_sel",
        data:{'ids':ids},
        dataType:"json",
        success:function (data) {
          console.log(data);
          if(data.code==200){
            layer.msg(data.msg,{icon:1,time:1000});
          }else{
            layer.msg(data.msg,{icon:5,time:2000});
          }
        },
      });

    });
  }
</script>
{/block}
