{extend name="Base_template/index_base" /}


{block name="head_css"}
<link rel="stylesheet" href="__STATIC_ADMIN__/css/x-admin.css" media="all" />
{/block}

{block name="main"}
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>文章管理</cite></a>
              <a><cite>文章列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form class="layui-form x-center" action="" style="width:800px">
        <div class="layui-form-pane" style="margin-top: 15px;">
            <div class="layui-form-item" id="LAY_demorange">
                <label class="layui-form-label">日期范围</label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>

    <div class="layui-table-body layui-table-body layui-table-main">
        <table class="layui-table" id="article_table" lay-filter="article_table" lay-data="{id: 'article_table'}">
        </table>
    </div>

</div>
<script type="text/html" id="alTool">
    <div id="alToolLeft">
        <button class="layui-btn layui-btn-danger" lay-event="delSel" >
            <i class="layui-icon">&#xe640;</i>
            批量删除
        </button>
        <button class="layui-btn"  lay-event="add" >
            <i class="layui-icon">&#xe608;</i>
            添加
        </button>
    </div>
</script>
<script type="text/html" id="Hstatus">
    <span class="layui-btn {{ d.status == 1 ? 'layui-btn-danger' : 'layui-btn-normal' }} " > {{ d.status == 1 ? '已禁用' : '已启用' }}  </span>
</script>
<script type="text/html" id="operation">
    <a style="text-decoration:none" lay-event="stop" href="javascript:;" title="停用">
        <i class="layui-icon">&#xe601;</i>
    </a>
    <a title="编辑" href="javascript:;" lay-event="edit" class="ml-5" style="text-decoration:none">
        <i class="layui-icon">&#xe642;</i>
    </a>

    <a title="删除" href="javascript:;" lay-event="del"   style="text-decoration:none">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>
{/block}

{block name="body_js"}
<script src="__STATIC_ADMIN__/js/x-layui.js" charset="utf-8"></script>

<script>

    layui.use(['laydate','element','laypage','layer','table'], function(){
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        element = layui.element;//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层
        table = layui.table;//表格

        //以上模块根据需要引入
        laydate.render({
            elem: '#LAY_demorange'
            //设置开始日期、日期日期的 input 选择器
            //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
            ,range: ['#LAY_demorange_s-1', '#LAY_demorange_e-1']
        });

        table.render({
            id:'article_table',
            elem: '#article_table'
            ,url:'AL/table_data'
            ,toolbar: '#alTool'
            ,parseData: function(res) { //res 即为原始返回的数据
                console.log(res);
            }
            , cols: [[ //标题栏
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID'}
                , {field: 'joggle_name', title: '接口名'}
                , {field: 'joggle_description', title: '接口描述'}
                , {field: 'url', title: 'URL'}
                , {field: 'class_name', title: '类型名',templet:'<div>{{ d.classify.class_name }}</div>'}
                , {field: 'visits', title: '访问数'}
                , {field: 'collections', title: '收藏数'}
                // , {field: 'icon_link', title: '图片链接(暂时不用)'}
                , {field: 'create_time', title: '上线时间', sort: true}
                , {field: 'status', title: '状态',templet: '#Hstatus'}
                , {field:'right', title:'操作',toolbar: '#operation'},
            ]]

            ,page: true //是否显示分页
            ,limit: 10 //每页默认显示的数量
        });
        // 监听行工具事件
        table.on('tool(article_table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        type:"post",
                        url:"AL/del",
                        data:data,
                        dataType:"json",
                        success:function (data) {
                            if(data.code==200){
                                layer.msg(data.msg,{icon:1,time:1000});
                            }else{
                                layer.msg(data.msg,{icon:5,time:2000});
                            }
                        },
                    });
                });
            }
            else if(obj.event === 'edit'){
                x_admin_show("编辑",`AL/add_edit?id=${data['id']}`,'600','500');
            }
            else if(obj.event === 'stop'){
                console.log(obj.event)
                if(data['status'] == 0){
                    data['status'] = 1;
                }else if(data['status'] == 1){
                    data['status'] = 0;
                }

                $.ajax({
                    type:"post",
                    url:"AL/stop",
                    data:data,
                    dataType:"json",
                    success:function (res_data) {
                        if(res_data.code==200){
                            layer.msg(res_data.msg,{icon:1,time:1000});
                            location.replace(location.href);
                        }else{
                            layer.msg(res_data.msg,{icon:5,time:2000});
                        }
                    },
                });
            }
        });

        //监听头部事件
        table.on('toolbar(article_table)', function(obj){
            switch(obj.event){
                case 'add':
                    layer.msg('添加');
                    x_admin_show("添加",`AL/add_edit?id=0`,'500','400');
                    break;
                case 'delSel':
                    delSel()
                    break;

            };
        });


    });

    //批量删除提交
    function delSel () {
        layer.confirm('确认要删除吗？',{icon:3,title:'提示信息'},function(index){
            //捉到所有被选中的，发异步进行删除
            data = table.checkStatus('article_table').data;

            ids = []
            for(i = 0;i < data.length;i++){
                ids.push(data[i]['id']);
            }

            $.ajax({
                type:"post",
                url:"AL/del_sel",
                data:{'ids':ids},
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    if(data.code==200){
                        layer.msg(data.msg,{icon:1,time:1000});
                    }else{
                        layer.msg(data.msg,{icon:5,time:2000});
                    }
                },
            });
            layer.msg('删除成功', {icon: 1});
        });
    }
</script>

{/block}