{extend name="Base_template/index_base" /}


{block name="head_css"}
<link rel="stylesheet" href="__STATIC_ADMIN__/css/x-admin.css" media="all" />

{/block}

{block name="main"}
<div class="x-body">
  <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

    <div class="layui-tab-content" >
      <div class="layui-tab-item layui-show">
        <form class="layui-form layui-form-pane" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">
              <span class='x-red'>*</span>文章类型
            </label>
            <div class="layui-input-block">
              <select name="cid">
                <option value="">--顶级分类--</option>
                {volist name="type" id="type_value"}
                <option value="{$type_value.id}">{$type_value.class_name}</option>
                {/volist}

              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">
              <span class='x-red'>*</span>类型名称
            </label>
            <div class="layui-input-block">
              <input type="hidden" value="{$class_id}" name="class_id">
              <input type="text" name="name" autocomplete="off" placeholder="5个左右,8汉字以内,用英文,隔}"
                     class="layui-input" lay-verify="required" value="{$con.class_name|default=''}">
            </div>
          </div>


          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
              <span class='x-red'>*</span>描述
            </label>
            <div class="layui-input-block">
              <textarea placeholder="请输入内容" class="layui-textarea" name="info">{$con.link|default=''}</textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="*">
              保存
            </button>
          </div>
        </form>
        <div style="height:100px;"></div>
      </div>
    </div>
  </div>
</div>
{/block}

{block name="body_js"}
<script src="__STATIC_ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC_ADMIN__/js/x-layui.js" charset="utf-8"></script>
<!--<script src="https://cdn.staticfile.org/layui/2.5.6/layui.min.js"></script>-->
<script>
  layui.use(['element','layer','form'], function(){
    $ = layui.jquery;//jquery
    lement = layui.element;//面包导航
    layer = layui.layer;//弹出层
    form = layui.form;

    //监听提交
    form.on('submit(*)', function(data){
      if(data.field['name'] ==""){
        layer.msg("文章分类名称不能为空！",{icon:5,time:2000});
        return false;
      }


      $.ajax({
        type:"post",
        url:"edit",
        data:data.field,
        dataType:"json",
        success:function (data) {
          layer.msg(data.msg,{icon:1,time:1000});
          if(data.status==200){
            layer.msg(data.msg,{icon:1,time:1000});
            setTimeout(function(){
              window.parent.location.reload();
              var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index);
            },1000);
            return false;
          }else{
            layer.msg(data.info,{icon:5,time:2000});return false;
          }
        }
      });
      return false;
    });

  })
</script>

{/block}