{extend name="Base_template/index_base" /}


{block name="head_css"}
<link rel="stylesheet" href="__STATIC_ADMIN__/css/x-admin.css" media="all" />
<link rel="stylesheet" href="__STATIC_ADMIN__/lib/layui/css/layui.css" media="all"/>

{/block}

{block name="main"}
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>文章管理管理</cite></a>
              <a><cite>文章类型列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form class="layui-form x-center" action="" style="width:800px">
        <div class="layui-form-pane" style="margin-top: 15px;">
            <div class="layui-form-item" id="LAY_demorange">
                <label class="layui-form-label">日期范围</label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
        <button class="layui-btn" onclick="member_add('添加文章类型','article_type_list/edit/0.html','600','500')"><i class="layui-icon">&#xe608;</i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span class="layui-badge">{$article_types|count}</span> 条</span></xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <input type="checkbox" name="" value="">
            </th>
            <th>
                ID
            </th>
            <th>
                接口类型名称
            </th>
            <th>
                上级类型
            </th>
            <th>
                数量
            </th>
            <th>
                描述
            </th>
            <th>
                加入时间
            </th>
            <th>
                更新时间
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>

        <tr>
            {volist name="article_types" id="classify"}
            <td>
                <input type="checkbox" value="1" name="">
            </td>
            <td>
                {$classify.id}
            </td>

            <td >
                {$classify.class_name}
            </td>
            <td >
                {$classify.one_rank_id|default="NULL"}
            </td>
            <td >
                {$classify.number}
            </td>
            <td >
                {$classify.link}
            </td>
            <td>
                {$classify.create_date}
            </td>
            <td>
                {$classify.update_time}
            </td>
            <td class="td-status">
                {if condition="$classify.status == 1"}
                <span class="layui-btn layui-btn-normal " > 已启用 </span>
                {elseif condition="$classify.status == 0"/}
                <span class="layui-btn layui-btn-danger "> 已禁用 </span>
                {else /}
                {/if}


            </td>
            <td class="td-manage">
                <a style="text-decoration:none" onclick="member_stop(this,'{$classify.status}','{$classify.id}')" href="javascript:;" title="停用">
                    <i class="layui-icon">&#xe601;</i>
                </a>
                <a title="编辑" href="javascript:;" onclick="member_edit('编辑','article_type_list/edit/{$classify.id}.html','4','','510')"
                   class="ml-5" style="text-decoration:none">
                    <i class="layui-icon">&#xe642;</i>
                </a>

                <a title="删除" href="javascript:;" onclick="member_del(this,'{$classify.id}')"
                   style="text-decoration:none">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}

        </tbody>
    </table>

    <div id="page"></div>
</div>
{/block}

{block name="body_js"}
<script src="__STATIC_ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC_ADMIN__/js/x-layui.js" charset="utf-8"></script>
<script>
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element;//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层
        console.log(layui.v)
        //以上模块根据需要引入

        laypage.render({
            elem: 'page'
            ,pages: 100
            ,first: 1
            ,last: 100
            ,prev: '<em><</em>'
            ,next: '<em>></em>'
        });

        laydate.render({
            elem: '#LAY_demorange'
            //设置开始日期、日期日期的 input 选择器
            //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
            ,range: ['#LAY_demorange_s', '#LAY_demorange_e']
        });

    });

    //批量删除提交
    function delAll () {
        layer.confirm('确认要删除吗？',{icon:3,title:'提示信息'},function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }
    /*用户-添加*/
    function member_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        x_admin_show(title,url,w,h);
    }

    /*用户-停用*/
    function member_stop(obj,status_code,id){
        if(status_code==1) {
            msg = '停用';
        }else if(status_code==0){
            msg = "启用";
        }
        layer.confirm(`确认要${msg}吗？`,function(index){
            data = {
                'status_code'  :  status_code,
                'id'            :   id,
            }
            //发异步把用户状态进行更改
            $.ajax( {
                url:'article_type_list/stop',
                data:data,
                type:'post',
                dataType:'json',
                success:function(ajax_data) {
                    if(ajax_data.status == 200){
                        layer.msg(`已${msg}!`,{icon: status_code+5,time:1000});
                        location.reload();
                        // layer.msg('已启用!',{icon: 6,time:1000});
                    }else{
                        alert(ajax_data.msg);
                    }
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });
    }

    // 用户-编辑
    function member_edit (title,url,id,w,h) {
        x_admin_show(title,url,w,h);
    }
    /*密码-修改*/
    function member_password(title,url,id,w,h){
        x_admin_show(title,url,w,h);
    }
    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',{icon:3,title:'提示信息'},function(index){
            //发异步删除数据
            $.ajax( {
                url:'article_type_list/del',
                data: {"id":id},
                type:'post',
                dataType:'json',
                success:function(ajax_data) {
                    if(ajax_data.status == 200){
                        layer.msg(ajax_data.msg,{icon:1,time:1000});
                        // layer.msg('已删除!',{icon:1,time:1000});
                        // location.reload();
                    }else{
                        alert(ajax_data.msg);
                    }
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });
    }
</script>


{/block}