分类的页面
{extend name="Base_template/base" /}

{block name="head_css_js"}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    .p{
        color: #999;
        overflow: hidden;
        line-height: 20px;
        height: 20px;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    .menu{
        position: relative;
        white-space: nowrap;
        flex-wrap: initial;
    }
    .overflow-x-auto
    {
        overflow-x: auto;
        overflow-y: unset;
    }
    .slider_menu{
        position: relative;
        background: rgba(0,0,0,.1);
        border-radius: 50px;
        border: 3px solid transparent;
        overflow: hidden;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .slider_menu>.menu>li>a {
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        padding: 0 16px;
    }
</style>
{/block}

{block name="header"}
{/block}



{block name="main-content"}
<div class="row">
    {include file="index/class_page/title"/}

    {notempty name='tow_nav_data'}
    <section class="d-flex flex-fill flex-tab align-items-center">
        <div class="slider_menu">
            <ul class="nav nav-pills  menu overflow-x-auto bg-secondary">
                {foreach $tow_nav_data as $key=>$vo }
                <li class="pagenumber nav-item">
                    <a class="nav-link  link-light" href="#">{$vo.name}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </section>
    {/notempty}
    {foreach $Joggle as $key=>$vo }
        {include file="public_module/card"/}
    {/foreach}
</div>
{/block}

{block name="body_js"}
<script>
console.log(window.self==window.top)


</script>
{/block}